body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Container principal */
.app-container {
  min-height: 100vh;
  transition: background 0.3s ease;
}

/* Estilos para o cabeçalho */
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilizando o título */
.header h1 {
  margin: 0;
}

.header img {
  width: 150px;
  height: auto;
  object-fit: contain;
}

/* Estilos para temas */
.light-theme {
  background: #fff;
  color: #ff0000;
}

.dark-theme {
  background: #141414;
  color: #ffd700;
}

/* Estilos adicionais */
.content {
  padding: 20px;
}

.ant-card {
  border: 2px solid rgba(255, 215, 0, 0.8); /* Cor dourada */
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8); /* Brilho ao redor */
}

.ant-card-head-title {
  text-align: center !important;
}

.ant-table {
  border: 2px solid rgba(173, 216, 230, 0.8); /* Azul claro */
  box-shadow: 0px 0px 8px rgba(173, 216, 230, 0.8);
}

.futuristic-spinner {
  position: relative;
  width: 50px;
  height: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top: 4px solid cyan; /* Cor azul neon */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.glow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 255, 255, 0.2);
  box-shadow: 0 0 10px cyan;
  animation: pulse 1.5s infinite alternate;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.7;
  }
  to {
    transform: scale(1.3);
    opacity: 0.4;
  }
}
